/* HOja de estilos para anuncios y ublicidad */


#card1{
    padding: 1em;
    background-color:#F7D1D1;
    color: #5a4c51;
}

.card-title{
    display: flex;
    justify-content: center;
    font-size: 3em;
}

#card2{
    padding: 2em;
    background-color:#F7D1D1;
    color: #5a4c51;
}

.card-body{
    font-family: 'Merienda One', cursive;
}

.card-text{
    padding: 1em;
}

.card-text h4{
    color: red;
}

#logolynda{
    max-width: 15em;
}

#contenido-logo{
    display: flex;
    float: right;
}

#logointer{
 height: 100px;
 width: 2000px;
}




