

.card-body{
    text-align: center;
    width: 100%;
    height: 6rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
  
}
table th{
    color: rgb(255, 154, 210);
}
table tr{
    color: rgb(255, 154, 210);
    
}

.descripcion{
    width: 400px;
}

